body {
    background: #33cc33;
    font-family: Arial

    font-weight: 500;

}


div#copyright
    {
        width: 100%;
        height: 20px;
        padding: 1px;
        -moz-border-radius: 35px;
        border-radius: : 35px;
        background-color: #33cc33;
        color: #ffffff;
        position: fixed;
        bottom: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

div#login
      {
      width: 250px;
      border: 10px #f7f7f7;
      padding: 10px;
      margin: 10px;
      background-color: #f7f7f7;
  }
#js-button, .btn {
      height:300px;
      width: 300px;
      border-radius: 50%;
      border:5px solid grey;
      background-color: #009933;
    }
#js-button:hover, .btn:hover {
          height:310px;
          width: 310px;
          border-radius: 50%;
          border:7px solid grey;
          background-color: #00a838;
        }

.wrapper{
  text-align: center;
}
