body {
    background-image:url("https://static.seekingalpha.com/uploads/2017/1/37462776_14836418590710_rId6.jpg");
    color: BLACK;
    font-family: Abadi MT Condensed Extra Bold;
    font-weight: 400;
}
div#copyright
    {
        width: 100%;
        height: 20px;
        padding: 1px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        background-color: Black;
        color: #ffffff;
        position: fixed;
        bottom: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

.wrapper{
  text-align: center;
}
