body {
    background: #33cc33;
    font-family:Abadi MT Condensed Extra Bold;
    font-weight: 400;





}
div#copyright
    {
        width: 100%;
        height: 20px;
        padding: 1px;
        -moz-border-radius: 35px;
        border-radius: : 35px;
        background-color: Black;
        color: #ffffff;
        position: fixed;
        bottom: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

div#login
      {
      width: 250px;
      border: 10px #f7f7f7;
      padding: 10px;
      margin: 10px;
      background-color: #f7f7f7;
  }
#button .btn {
      height:300px;
      width: 300px;
      border-radius: 50%;
      border:5px solid grey;
      background-color: #009933;
    }

.wrapper{
  text-align: center;
}
